.title {
    display: flex;
    justify-content: space-between;
}

.title>button {
    align-self: center;
}

.tasks {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tasksInput {
    display: flex;
    align-items: center;
}

.addBtn {
    cursor: pointer;
    border: 1px solid black;
}